:root {
    --font-family: "Noto Sans";
    --color-text: #09092D;
    --color-primary: #4C4C8E;
    --color-secondary: #1F1F59;
    --color-app-background: #F3F3F7;
    --color-background: white;
    --color-active-background: #E4E4FF;
    --color-active-text: #3535CD;
    --color-secondary-blue: #5959EB;
    --color-input: #B0B0CD;
    --color-background-secondary: #EBEBF1;
    --color-chip: #1717AB;
    --color-background-chip: #CCCCFF;
    --border-color: #D7D7E4;
}

.btn-menu {
    color: var(--color-secondary) !important;
    font-size: 100% !important;
    text-transform: none !important;
    font-family: var(--font-family) !important;
    background: var(--color-background) !important;
    border-radius: var(--border-radius) !important;
    margin: 0.5% !important;
}

.v-field {
    border: 1px solid var(--color-input) !important;

    .v-chip {
        color: var(--color-active-text);
        font-weight: 700;
    }
}

.v-field--focused {
    border: 1px solid var(--color-active-text) !important;
}

.accountingTable,
.productTable {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: transparent;

    th {
        font-weight: bold !important;
        line-height: .8rem;
    }

    td {
        height: 50px !important;
    }
}

.v-table {
    color: var(--color-secondary) !important;
}

.v-btn--active {
    background: var(--color-active-background) !important;
    color: var(--color-active-text) !important;
}

.leftmenu {
    .v-list-item__overlay {
        display: none;
    }

    .leftMenuItemTitle {
        color: #1F1F59;
    }
}

.filter {
    text-transform: capitalize;
    height: 50% !important;
    max-width: fit-content;
    min-width: 50%;

    input::placeholder {
        color: var(--color-primary) !important;
        opacity: 1;
        padding: 0;
    }

    .v-field__field,
    .v-field__input {
        padding: 0 10%;
        min-height: 100% !important;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}